{% extends 'base.html.twig' %}

{% block title %}Symfony CRUD{% endblock %}

{% block body %}
  {% if texts %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Text Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for text in texts %}
        <tr>
          <td>{{ text.title }}</td>
          <td>
            <a href="/text/{{text.id}}" class="btn btn-dark">Show</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No text to display</p>
  {% endif %}
{% endblock %}
